header {
  background-color: #031c67;
}

main,
section {
  padding-top: 4rem !important;
  min-height: 100vh;
}

/* fonts and text */

h1 {
  color: #ffd705;
  font-family: Teko, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  margin: auto 0;
}

body,
button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

footer {
  background-color: #f6f6f6;
}

footer > a {
  font-size: 0.5rem;
  margin-top: 5rem;
}

h2,
h3 {
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
}

h2 {
  margin: 0 2rem;
  color: #ffd705;
  text-shadow:
    -0.1rem -0.1rem 0.3rem #031c67,
    0.2rem -0.1rem 0.3rem #031c67,
    -0.1rem 0.1rem 0.3rem #031c67,
    0.1rem 0.1rem 0.3rem #031c67;
}

.column-full > h2 {
  font-size: 3rem;
}

h3 {
  margin: 0;
}

p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.set-name {
  font-size: 2.5rem;
  margin: 1rem auto 2rem;
  font-weight: 500;
  line-height: 3rem;
  text-align: center;
}

#set-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

/* secondary layouts */

.radio-half {
  width: 50%;
}

#nav-mobile {
  position: fixed;
  background-color: #031c67;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  z-index: 2;
}

#nav-desktop {
  display: none;
}

.set-width {
  margin: 0 auto;
  width: 90vw;
  display: flex;
  justify-content: space-between;
}

#nav-links {
  display: flex;
  align-items: center;
}

label {
  display: block;
  margin: 0.75rem 0;
}

input[type="text"] {
  width: 15rem;
  padding-left: 0.3rem;
  font-size: 1.2rem;
  border-radius: 0.25rem;
  border: 0.1rem solid black;
  height: 2rem;
}

select {
  font-size: 1.2rem;
  padding-left: 0.3rem;
  width: 15rem;
  border-radius: 0.25rem;
  border: 0.1rem solid black;
  height: 2rem;
}

.container {
  background-color: #f6f6f6;
}

#hamburger-open {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #d9d9d9;
  z-index: 1;
}

.modal {
  width: 25rem;
  background-color: #f6f6f6;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#rename-deck {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1117;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

#clear-deck {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1117;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

#hamburger-open li {
  border-bottom: 0.4rem solid #031c67;
  padding: 1rem;
  list-style-position: inside;
}

li > a {
  font-size: 1.5rem;
}

ul {
  margin: 0;
  padding: 0;
}

.flex-end {
  display: flex;
  align-items: flex-end;
}

.multi-sorter {
  width: 100%;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: none;
  background-color: #d9d9d9;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
}

fieldset label {
  display: inline-block;
  padding: 0 0.75rem;
  font-size: 1.5rem;
  width: 100%;
  word-wrap: break-word;
}

fieldset input {
  height: 1.2rem;
  width: 1.2rem;
}

legend {
  text-align: center;
  font-size: 1.5rem;
  background-color: #031c67;
  color: #ffd705;
  font-weight: 500;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
}

[data-view="series"] label {
  font-size: 1.5rem;
}

#decks-desktop {
  display: none;
}

.deck-header {
  margin: 2rem;
  padding: 0 3rem;
  border: none;
  background-image: linear-gradient(#031c67, #031c6700);
  color: #ffd705;
}

.deck-header > p {
  font-size: 2rem;
  text-align: center;
  line-height: 2.5rem;
}

.align-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.card-pop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1117;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

/* Icons and Images   */

#set-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1rem auto;
}

.logo-button > img {
  width: 100%;
}

.large-card {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 0;
  flex-wrap: wrap;
}

.large-card > img {
  width: 100%;
  border-radius: 0.5rem;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 0;
  flex-wrap: wrap;
}

.card-wrapper > img {
  width: 100%;
  border-radius: 0.5rem;
}

.card-back > img {
  width: 100%;
  border-radius: 0.6rem;
}

.card-back {
  width: 60%;
  margin: 2rem auto;
}

.card-deck {
  width: 80%;
  margin: 2rem auto;
}

.card-deck > img {
  width: 100%;
  box-shadow:
    0.5rem 0.5rem 0.5rem #031c67,
    1rem 1rem 1rem #031c67cc,
    1.5rem 1.5rem 1.5rem #031c67ee;
  border-radius: 0.7rem;
}

#nav-desktop img {
  width: 3rem;
  margin: 0.5rem 0;
}

.align-center-row {
  display: flex;
  align-items: center;
}

#set-logo > img {
  width: 100%;
}

/* Buttons  */

#hamburger {
  border: 0.1rem solid black;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0.5rem;
  background-color: #031c67;
  border-radius: 0.75rem;
  margin: auto 0;
}

.mobile-collect {
  background-color: #f6f6f6;
  border: none;
  margin: 0.5rem auto 0;
}

.fa-square-check {
  color: #1bb55c;
  margin: 0.5rem auto 0;
  font-size: 1.5rem;
}

.mobile-collect > i {
  color: #031c67;
  font-size: 1.5rem;
}

.rename-deck > i {
  color: #007bff;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

#hamburger > i {
  color: #dd0707;
  padding: 0.75rem;
}

#hamburger:hover {
  cursor: pointer;
}

.search {
  background-color: #f6f6f6;
  color: #007bff;
  border: 0.1rem solid #007bff;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  padding: 0.2rem 0.4rem;
  margin: 0 0.2rem;
}

.cancel {
  background-color: #f6f6f6;
  color: #dd0707;
  border: 0.1rem solid #dd0707;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  padding: 0.2rem 0.4rem;
  margin: 1rem 2rem;
}

.confirm {
  background-color: #f6f6f6;
  color: #007bff;
  border: 0.1rem solid #007bff;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  padding: 0.2rem 0.4rem;
  margin: 1rem 2rem;
}

.tab-active {
  background-color: #031c67;
  color: white;
  font-size: 1.1rem;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  border: none;
  margin-left: 0.2rem;
  padding: 0.2rem 0.3rem;
}

.tab {
  background-color: #d9d9d9;
  font-size: 1.1rem;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  border: none;
  margin-left: 0.2rem;
  padding: 0.2rem 0.3rem;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

a:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#nav-links > a {
  color: white;
  margin: 0 2rem;
  font-weight: 300;
}

.desktop-collect {
  display: none;
  background-color: #f6f6f6;
  color: #007bff;
  border: 0.1rem solid #007bff;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  padding: 0.3rem 0.4rem;
  margin: 0.5rem auto 0;
}

.remove-card {
  color: #dd0707;
  border: none;
  background-color: #f6f6f6;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: underline;
  margin: 0.5rem auto 0;
}

.clear-deck {
  background-color: #f6f6f6;
  color: #dd0707;
  border: 0.1rem solid #dd0707;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  padding: 0.3rem 0.4rem;
  margin: 0 0.2rem;
}

.rename-deck {
  background-color: #f6f6f6;
  color: #007bff;
  border: 0.1rem solid #007bff;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  padding: 0.3rem 0.4rem;
  margin: 0 0.2rem;
}

.deck-btn {
  padding: 1.2rem 1.5rem;
  font-size: 1.5rem;
  border: none;
  background-image: linear-gradient(#dd0707, #dd070700);
}

.deck-btn-selected {
  padding: 1.2rem 1.5rem;
  font-size: 1.5rem;
  border: none;
  background-image: linear-gradient(#031c67, #031c6700);
  color: #ffd705;
}

.logo-button {
  background: none;
  border: none;
  max-width: 80%;
  margin: 2rem auto 1rem;
}

#hp-sort {
  font-size: 1.2rem;
  border-radius: 0.25rem;
  padding: 0.2rem;
  margin: 0 0.5rem;
  border: none;
  background-color: #d9d9d9;
}

#hp-sort > i {
  font-size: 1.2rem;
  margin: 0.2rem;
}

/* MEDIA RULES */

@media screen and (min-width: 768px) {
  #nav-mobile {
    display: none;
  }

  #hamburger-open {
    display: none;
  }

  #nav-desktop {
    display: block;
    position: fixed;
    top: 0;
    background-color: #031c67;
    width: 100%;
  }

  main,
  section {
    padding-top: 8rem !important;
  }

  .order-1 {
    order: 1;
  }

  .order-2 {
    order: 2;
  }

  h3 {
    text-align: left;
  }

  .search {
    margin: 0 1rem;
  }

  .desktop-collect {
    display: block;
  }

  .mobile-collect {
    display: none;
  }

  #mobile-decks {
    display: none;
  }

  #decks-desktop {
    display: flex;
  }

  fieldset label {
    padding: 0 1rem;
    font-size: 1.5rem;
  }

  #set-logo {
    width: 50%;
  }

  .large-card {
    width: 30%;
  }
}

/* Special Features */

@keyframes deck-full {
  0% { color: #dd0707; }
  20% { color: black; }
  40% { color: #dd0707; }
  60% { color: black; }
  80% { color: #dd0707; }
  100% { color: black; }
}

#deck-full {
  animation: deck-full 5s;
  font-size: 1.2rem;
  display: inline;
  font-weight: 500;
}

/* Sort To Appropriate Sections */
